header {
    min-height: 60px;

    ul.nav.nav-list {
        display: block;
        text-align: center;
    }

    .nav-list-item {
        display: inline-block;
        padding: 20px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
        &:last-child {
            padding-right: 0;
        }
        &:first-child {
            padding-left: 0;
        }
    }
}
